#quizz {
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
}

#infopanel {
    width: 100%;
}

.score {
    flex-grow: 1;
    text-align: center;
}

#turno {
    text-align: center;
}

#quizzdata {
    flex-grow: 1;
    width: 100%;
}

#question {
    height: 50%;
    width: 100%;
}
#answer {
    height: 50%;
    width: 100%;
}

.flex {
    display: flex;
    justify-content: center;
}

.inner {
    align-self: center;
}

.singlequestion {
    height: 100% !important;
    width: 100% !important;
}

.hidden {
    display: none !important;
}

.rightanswer {
    background-color: green;
}

.wronganswer {
    background-color: red;
}

#intro {
    height: 100%;
    width: 100%;
}

#gameover {
    height: 100%;
    width: 100%;
}
